@model _20241CYA12A_G2.Models.HomeViewModel

@{
    ViewData["Title"] = "Inicio";
}
	<div class ="hero-custom"> 
    
	@if (Model.MensajePromo == "")
	{
		<p>Hoy <span>@Model.Dia</span> ahorrá un <span>@Model.Descuento</span> en <span>@Model.Producto</span>!</p>
	}
	else
	{
		<p>@Model.MensajePromo</p>
	}


		</div>
<div class="container text-center p-3">
		<h2 class="ha-custom"> Los favoritos<span><img src="/images/emoticon_smile.png" alt="Carita sonriente" height="50" /></span></h2>
		
		<div class="row">
			<div class="col-8">
				<div class ="card" style="width: 100%;">
					<img class="card-img-top" src="/images/fav_tabla.png" height="350" alt="Mis favritos Combo">
					<div class="card-body card-body-custom">
						<a asp-controller="Productos" asp-action="Index" asp-route-category="Combos" class="btn-link-custom">Combo 100% salmón Alaska XL de 40 piezas</a>
					</div>
				</div>	
			</div>
			<div class="col-4">
				<div class ="card" style="width: 100%;">
					<img class="card-img-top" src="/images/fav_postre.png" height="350" alt="Mis favoritos Postre Oreo">
					<div class="card-body card-body-custom">
						<a asp-controller="Categorias" asp-action="Postres" class="btn-link-custom">Postre helado OREO</a>
					</div>
				</div>	
			</div>
		</div>

		<div class="row pt-4">
			<div class="col-4">
				<div class ="card" style="width: 100%;">
					<img class="card-img-top" src="/images/fav_arrolladitos.png" height="350" alt="Mis favoritos Empanaditas Chinas">
					<div class="card-body card-body-custom">
						<a asp-controller="Categorias" asp-action="Entradas" class="btn-link-custom">Empanaditas chinas de carne</a>
					</div>
				</div>	
			</div>
			<div class="col-8">
				<div class ="card" style="width: 100%;">
					<img class="card-img-top" src="/images/fav_tempura.png" height="350" alt="Mis favritos Langostinos en tempura">
					<div class="card-body card-body-custom">
						<a asp-controller="Categorias" asp-action="Entradas" class="btn-link-custom">Langostinos rebozados en panko fritos con salsa de tamarindo</a>
					</div>
				</div>	
			</div>	
		</div>
</div>

<div class="call-to-action ">
	@if (Model.Telefono != "")
	{
		<p>¡Hoy <span>@Model.Dia</span> atendemos de @Model.HorarioAtencion por WhatsApp <span>@Model.Telefono</span></p>
	}
	
</div>

<div class="container text-center p-3">
	<h2 class="h2-custom">Nuestros locales</h2>
	<div class="row mb-5">
		<div class="col-3 ">
			<div class="card" style="width: 100%">
				<img class="card-img-top" src="images/local_palermo.png" alt="Foto local Palermo">
				<div class="card-body card-body-custom">
					<p><a class="card-text-custom-locales-titulo" asp-controller="Reservas" asp-action="Create">PALERMO</a></p>
					<p><a class="card-text-custom-locales-direccion" asp-controller="Reservas" asp-action="Create">Alto Palermo local 1</a></p>
				</div>
			</div>
		</div>
		<div class="col-3 ">
			<div class="card" style="width: 100%">
				<img class="card-img-top" src="images/local_recoleta.png" alt="Foto local Recoleta">
				<div class="card-body card-body-custom">
					<p><a class="card-text-custom-locales-titulo" asp-controller="Reservas" asp-action="Create">RECOLETA</a></p>
					<p><a class="card-text-custom-locales-direccion" asp-controller="Reservas" asp-action="Create">Callao 986</a></p>
				</div>
			</div>
		</div>
		<div class="col-3 ">
			<div class="card" style="width: 100%">
				<img class="card-img-top" src="images/local_belgrano.png" alt="Foto local Belgrano">
				<div class="card-body card-body-custom">
					<p><a class="card-text-custom-locales-titulo" asp-controller="Reservas" asp-action="Create">BELGRANO</a></p>
					<p><a class="card-text-custom-locales-direccion" asp-controller="Reservas" asp-action="Create">Av. Monroe 2401</a></p>
				</div>
			</div>
		</div>
		<div class="col-3 ">
			<div class="card" style="width: 100%">
				<img class="card-img-top" src="images/local_caballito.png" alt="Foto local Caballito">
				<div class="card-body card-body-custom">
					<p><a class="card-text-custom-locales-titulo" asp-controller="Reservas" asp-action="Create">CABALLITO</a></p>
					<p><a class="card-text-custom-locales-direccion" asp-controller="Reservas" asp-action="Create">Av. Acoyte 234</a></p>
				</div>
			</div>
		</div>

	</div>
	<p class="p-destacado">Lunes a viernes de 11 a 15hs. y de 18 a 23h:30hs. Sábados y domingos de 17 a 0 hs.</p>
</div>
